/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------

Universal Styling

----------------------------------*/

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
}

body {
	background-image: url(../images/clouds_background.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

#container {
	background-color: #c0c0c0;
    width: 770px;
    margin: 20px auto;
}

p {
	font-size: 0.9em;
	line-height: 1em;
	margin-bottom: 10px;
	color: #000000;
}

h3 {
	font-size: 1.2em;
	font-weight: 800;
	margin-bottom: 10px;
}

figcaption {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
	color: #b0354e;
	margin: 8px 0;
}

/*---------------------------------

Header

----------------------------------*/

header {
	background-color: #133f5f;
	padding-bottom: 17px;
}

header h1 {
	font-family: 'Henny Penny', cursive;
	font-size: 1.8em;
	color: #ffffff;
	padding: 15px 0 15px 20px;
}

/*---------------------------------

Navigation

----------------------------------*/

nav {
	background-color: #bdb7b7;
	font-size: 0.9em;
	font-weight: 800;
	color: #ffffff;
	text-align: center;
	height: 60px;
}

nav details {
	display: inline-block;
	padding-top: 10px;
}

nav details:hover{
	cursor: pointer;
	color: #133f5f;
}

nav details li {
	margin-top: 2px;
}

nav details li a {
	color: #ffffff;
	text-decoration: none;
}

nav details li a:hover {
	color: #133f5f;
}

/*---------------------------------

Article Section

----------------------------------*/

section article {
    background-color: #e7e7e7;
    width: 520px;
    float: left;
	padding: 15px 20px 20px 20px;
	min-height: 560px;
}

section article h2 {
	font-size: 1.4em;
	font-weight: 800;
	color: #b0354e;
	border-bottom: #b0354e solid 2px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

section article figure {
    float: right;
	margin-left: 15px;
}

section article figure img{
    width: 210px;
}

/*---------------------------------

Aside Section

----------------------------------*/

section aside {
    background-color: #bdb7b7;
    width: 170px;
    float: right;
	padding: 20px;
}

section aside h3 {
	text-shadow: 2px 2px #ffffff;
}

section aside figure img {
    width: 130px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;
}

/*---------------------------------

Footer

----------------------------------*/

footer {
	clear: both;
	background-color: #b0354e;
	padding: 20px 20px 10px 20px;
}

footer p {
	font-size: 1em;
	color: #ffffff;
	text-align: center;
	font-style: italic;
}